* {padding: 0; margin: 0; box-sizing: border-box}



/*----------Basic information start----------*/

:root {
    /*colors start*/
    --brown: #8b4208;
    --lightBrown: #a68d7a;
    --black: #000000;
    --white: #FFFFFF;
    --grey: #434343;
    /*colors end*/
    --basisMargin: margin 0 30px;
}




a,
a:visited,
a:link {
    text-decoration: none;
    /*color: var()*/
}

button:hover {
    cursor: pointer;
    /*color: var()*/
}

img {
    width:100%
}

/*Typography start*/
button,
input {
}

h1, h2, h3, h4, h5, h6 {
    color: var(--white)
}

header h1,
header li{
    color: var(--black);
}


h1 {
    /*color: var()*/
}

p{
    /*color: var()*/
}

input,
button {
font-family: inherit;
}

a:link {
}
/*Typography end*/


/*----------Basic information end----------*/






/*----------Header start----------*/


/*----------Header end----------*/





/*----------Main start----------*/
header {
    background-color: green;
    display: flex;
    flex-direction: row;
}




main {
    margin: var(--basisMargin);
    background-color: var(--grey);
}




/*----------Main end----------*/


/*----------Footer start----------*/
/*----------Footer end----------*/