@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:ital,wght@0,300;0,400;0,500;1,400&family=Young+Serif&display=swap');



* {padding: 0; margin: 0; box-sizing: border-box}


/*----------Basic information start----------*/

:root {
    /*colors start*/
    --brown: #8b4208;
    --lightBrown: #a68d7a;
    --black: #000000;
    --white: #FFFFFF;
    --lightGrey: #f2f2f2;
    /*colors end*/
    --basisMargin: margin 0 30px;
    --titleFont: "Young Serif";
    --normalText: "Roboto";
}

button:hover {
    cursor: pointer;
    /*color: var()*/
    font-family: var(--normalText);
}

img {
    width:100%
}

/*Typography start*/
button,
input {
    font-family: var(--normalText);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--black);
    font-family: var(--titleFont);
}

header li{
    color: var(--black);
    font-family: var(--titleFont);
}

header h1 {
    /*natuurverhaal.nl*/
    color: var(--black);
    font-family: var(--titleFont);
    font-size: 5em;
}

/*header ul li a{*/
/*    color: var(--black);*/
/*    font-family: var(--titleFont);*/
/*    font-size: 2em;*/
/*}*/

header ul li a{
    color: var(--black);
    font-family: var(--titleFont);
    font-size: 2em;
    transition: all 0.25s ease-out; }



p{
    /*color: var()*/
    font-family: var(--normalText);
    font-size: 1.4rem;
}

footer p {
    color: var(--white);
}

/*Typography end*/
/*----------Basic information end----------*/
/*----------Header start----------*/
header {
    /*headerOuterBox*/
    /*Border: 2px solid #a80202;*/
    display: flex;
    flex-direction: row;
    height: 600px;
    background-image: url("../assets/Header(2).jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.headerInnerBox {
    /*headerInnerBox*/
    /*Border: 2px solid darkgreen;*/
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 4rem;
}

header h1 {
    /*Natuurverhaal.nl*/
    /*Border: 2px solid #a80202;*/
    display: flex;
    flex-direction: row;
    /*margin: 4rem 0 0 4rem;*/
}

header ul {
    /*header nav list*/
    /*Border: 2px solid #a80202;*/
    display: flex;
    flex-direction: column;
    margin: 2rem 0 2rem 0;
    }

header li {
    /*header nav list*/
    /*Border: 2px solid #b700c7;*/
    display: flex;
    flex-direction: row;
    margin: 0.7rem 0;
}

a,
a:visited,
a:link {
    text-decoration: none;
    color: var(--black);
    font-size: 2.0rem;
    font-weight: bold;
}

a:hover {
    color: var(--brown);
    font-size: 2.5rem;
    margin-top: -0.7rem;
    transition: all 0.25s ease-in-out; }
a {
color: var(--black);
font-family: var(--titleFont);
font-size: 2em;
transition: all 0.25s ease-out; }


/*----------Header end----------*/
/*----------Main start----------*/

main {
    /*mainOuterBox*/
    /*Border: 2px solid #d46900;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--white);
}

.mainInnerBox{
    /*mainOuterBox*/
    /*Border: 2px solid #b700c7;*/
    display: flex;
    flex-direction: column;
    width: 100%;
}

.blogImageVertical {
    width: 250px;
}

.blogImageHorizontal {
    width: 400px;
}

main .blogBox {
    /*mainOuterBox*/
    /*Border: 2px solid #d46900;*/
    display: flex;
    flex-direction: column;

    padding: 20px 20px 0 20px;
    background-color: var(--lightGrey);
    margin: 2rem 30px 0 30px;
    text-align: center
}

main .blogBoxLast {
    margin-bottom: 2rem;
    padding: 2rem 1rem;
}

main .blogBox h1 {
    /*blogTitle*/
    /*Border: 2px solid #286a0a;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main .blogBox h2 {
    /*blogReadMore*/
    /*Border: 2px solid #a80202;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*Collapsible start*/
/*Collapsible start*/
/*Collapsible start*/

input[type='checkbox'] { display: none; }

.wrap-collabsible {
    margin-bottom: 1.2rem;
}


.lbl-toggle {
    /*Title text collapsible*/
    display: block;
    font-weight: bold;
    font-family: var(--titleFont);
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem 0 0 0;
    cursor: pointer;
    transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
    /*Title text collapsible hoverColor*/
    color: var(--brown);
}

.lbl-toggle::before {
    /*Triangle icon*/
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle; margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    /*This hides the collapsible content*/
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
    /*text-align: center*/
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100%;
}

.toggle:checked+.lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    /*Styles for inner content*/
    background: var(--lightGrey);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 1rem 1rem;
    /*Border: 2px solid #d46900;*/
}

.collapsible-content p {
    margin-bottom: 0;
}

/*Collapsible end*/
/*Collapsible end*/
/*Collapsible end*/





header {
    background-color: #6E6043;
    display: flex;
    flex-direction: row;
}






/*----------Main end----------*/
/*----------Footer start----------*/
footer{
    /*mainOuterBox*/
    Border: 2px solid #b700c7;
    display: flex;
    flex-direction: row;
    background-color: var(--black);
    padding: 20px 0;
    justify-content: center;
}


/*----------Footer end----------*/