* {padding: 0; margin: 0; box-sizing: border-box}



/*----------Basic information start----------*/

:root {
    /*colors start*/
    --brown: #8b4208;
    --lightBrown: #a68d7a;
    --black: #000000;
    --white: #FFFFFF;
    --grey: #434343;
    /*colors end*/
    --basisMargin: margin 0 30px;
}




a,
a:visited,
a:link {
    text-decoration: none;
    /*color: var()*/
}

button:hover {
    cursor: pointer;
    /*color: var()*/
}

img {
    width:100%
}

/*Typography start*/
button,
input {
}

h1, h2, h3, h4, h5, h6 {
    color: var(--white)
}

header h1,
header li{
    color: var(--black);
}


h1 {
    /*color: var()*/
}

p{
    /*color: var()*/
}

input,
button {
font-family: inherit;
}

a:link {
}
/*Typography end*/

footer p {
    color: var(--white);
}


/*----------Basic information end----------*/
/*----------Header start----------*/
header {
    /*headerOuterBox*/
    Border: 2px solid #a80202;
    display: flex;
    flex-direction: row;
}

.headerInnerBox {
    /*headerInnerBox*/
    Border: 2px solid darkgreen;
    display: flex;
    flex-direction: column;
}

header h1 {
    /*Natuurverhaal.nl*/
    Border: 2px solid #a80202;
    display: flex;
    flex-direction: row;
}

header ul {
    /*header nav list*/
    Border: 2px solid #a80202;
    display: flex;
    flex-direction: column;
}

header li {
    /*header nav list*/
    Border: 2px solid #b700c7;
    display: flex;
    flex-direction: row;
}




/*----------Header end----------*/
/*----------Main start----------*/

main {
    /*mainOuterBox*/
    Border: 2px solid #d46900;
    display: flex;
    flex-direction: row;
}

.mainInnerBox{
    /*mainOuterBox*/
    Border: 2px solid #b700c7;
    display: flex;
    flex-direction: column;
}

main .blogBox {
    /*mainOuterBox*/
    Border: 2px solid #d46900;
    display: flex;
    flex-direction: column;
}

main .blogBox h1 {
    /*blogTitle*/
    Border: 2px solid #286a0a;
    display: flex;
    flex-direction: row;
}

main .blogBox h2 {
    /*blogReadMore*/
    Border: 2px solid #a80202;
    display: flex;
    flex-direction: row;
}






header {
    background-color: #6E6043;
    display: flex;
    flex-direction: row;
}


main {
    margin: var(--basisMargin);
    background-color: var(--grey);
}




/*----------Main end----------*/
/*----------Footer start----------*/
footer{
    /*mainOuterBox*/
    Border: 2px solid #b700c7;
    display: flex;
    flex-direction: row;
    background-color: var(--black);
}


/*----------Footer end----------*/